ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']
sorted(
    [(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars],
    key=lambda x: x[1],
    reverse=True
)

In [1]:
#https://riptutorial.com/ru/ipython/example/18167/store-variables-on-ipython
# https://habr.com/ru/company/wunderfund/blog/316826/

In [2]:
import pandas as pd
from sc_tables import BigCSVTable
import os
import sys

In [3]:
file_names = os.listdir(r'D:\test_csvs')
file_names = [r'D:\test_csvs\{}'.format(file_name) for file_name in file_names]
print(file_names)

['D:\\test_csvs\\2018_11.csv', 'D:\\test_csvs\\2018_12.csv']

In [4]:
table = BigCSVTable(
    #file_names, 
    [file_names[1]],
    dtype={'id':int,}, 
    #usecols=['id', 'date_1'],
    date_cols=['date_1_tf', 'date_2_tf']
)

       id            date_1            date_2
0     123   01.01.2018 8:55  01.01.2018 11:55
1     432   04.01.2018 8:55   04.01.2018 8:59
2    5436   01.11.2018 8:35  01.11.2018 11:55
3     675   01.01.2018 8:55  11.01.2018 11:55
4     456   11.01.2018 8:58   13.01.2018 8:58
5     564  21.03.2018 18:59  28.04.2018 18:59
6  545645  03.02.2018 12:20  01.11.2018 12:40
7  564564  06.05.2018 11:41  06.08.2018 14:31
8     543   01.01.2018 8:12   01.07.2018 8:22

%store table
%store -r table
%reset

In [5]:
table.get_extra_dates(
    df_years=['date_1'],
    df_months=['date_2'],
    df_days=['date_2'],
    df_hours=['date_2', 'date_1'],
    df_dates=['date_2', 'date_1'],
    df_daysofweek=['date_2', 'date_1'],
    df_days_delta=('date_1', 'date_2'),
    df_time_delta=('date_1', 'date_2'),    
)
print(table.df.info())

(0    2018-01-01
1    2018-01-04
2    2018-11-01
3    2018-01-01
4    2018-01-11
5    2018-03-21
6    2018-02-03
7    2018-05-06
8    2018-01-01
Name: date_1_DATE, dtype: object, 0    2018-01-01
1    2018-01-04
2    2018-11-01
3    2018-01-11
4    2018-01-13
5    2018-04-28
6    2018-11-01
7    2018-08-06
8    2018-07-01
Name: date_2_DATE, dtype: object)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
id                      9 non-null int32
date_1                  9 non-null datetime64[ns]
date_2                  9 non-null datetime64[ns]
date_1_DATE             9 non-null object
date_2_DATE             9 non-null object
date_2-date_1(DATES)    9 non-null int64
date_2-date_1(TIME)     9 non-null float64
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(2)
memory usage: 436.0+ bytes
None

In [6]:
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']
sorted(
    [(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], 
    key=lambda x: x[1], 
    reverse=True
)

[('BigCSVTable', 536), ('file_names', 52), ('pd', 44), ('table', 32)]

In [7]:
print(table.df)
print(table.df.info())

       id              date_1              date_2 date_1_DATE date_2_DATE  \
0     123 2018-01-01 08:55:00 2018-01-01 11:55:00  2018-01-01  2018-01-01
1     432 2018-01-04 08:55:00 2018-01-04 08:59:00  2018-01-04  2018-01-04
2    5436 2018-11-01 08:35:00 2018-11-01 11:55:00  2018-11-01  2018-11-01
3     675 2018-01-01 08:55:00 2018-01-11 11:55:00  2018-01-01  2018-01-11
4     456 2018-01-11 08:58:00 2018-01-13 08:58:00  2018-01-11  2018-01-13
5     564 2018-03-21 18:59:00 2018-04-28 18:59:00  2018-03-21  2018-04-28
6  545645 2018-02-03 12:20:00 2018-11-01 12:40:00  2018-02-03  2018-11-01
7  564564 2018-05-06 11:41:00 2018-08-06 14:31:00  2018-05-06  2018-08-06
8     543 2018-01-01 08:12:00 2018-07-01 08:22:00  2018-01-01  2018-07-01

   date_2-date_1(DATES)  date_2-date_1(TIME)
0                     0                180.0
1                     0                  4.0
2                     0                200.0
3                    10                180.0
4                     2                  0.0
5                    38                  0.0
6                   271                 20.0
7                    92                170.0
8                   181                 10.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
id                      9 non-null int32
date_1                  9 non-null datetime64[ns]
date_2                  9 non-null datetime64[ns]
date_1_DATE             9 non-null object
date_2_DATE             9 non-null object
date_2-date_1(DATES)    9 non-null int64
date_2-date_1(TIME)     9 non-null float64
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(2)
memory usage: 436.0+ bytes
None

In [8]:
pd.Timedelta.min

Timedelta('-106752 days +00:12:43.145224')